@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    user-select: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}

@layer utilities {

}

@layer components {

}

img.lazy {
  opacity: 0;
}

img:not(.initial) {
  transition: opacity 200ms;
}

img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}
